{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tooltipster.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}

	<script src="{% static 'js/jquery.tooltipster.js' %}"></script>
	<script src="{% static 'js/jquery.tooltipster.min.js' %}"></script>

    <script>
    	$(document).ready(function() {
            console.log('salam');
            $('.tooltip').tooltipster();
        	$('.postTitle').tooltipster({
            	content: $('<i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="empty star icon"></i>  ( 8.1 / 10 ) ' +
                '<table class="ui inverted basic table"> <thead> </thead> <tbody> ' +
                '<tr> <td> Director: </td> <td> Morten Tyldum </td> </tr> ' +
                '<tr><td>Writers:</td> <td> <div class="ui list"> <div class="item"> Graham Moore </div> <div class="item"> Andrew Hodges </div> </div></td></tr>' +
                '</tbody> </table>')
        	});
        });
        $('.ui.rating').rating();
    	$('#unfollow').hide();
        $('.ui.modal').modal({
            detachable: false
        });
    	$('.ui.comments').hide();
    	$('.showComments').click( function(event) {
            var blk = $(this).next().next();
        	if(blk.is(':visible')) {
                blk.hide('slow');
            }
            else {
                blk.show('slow');
                $("html, body").animate({ scrollTop: $(this).offset().top - 40 }, "slow");
            }
        });
    	$('.showLikes').click(function(event) {
            var blk = $(this).next().next();
            blk.modal("show");
        });

    	$('#follow').click(function(event){
            $('#follow').hide();
            $('#unfollow').show();
        });
    	$('#unfollow').click(function(event){
            $('#unfollow').hide();
            $('#follow').show();
        });

    	$('.addComment').click(function(event){
            var txt = $(this).prev().children().eq(0).val();
            if(txt != "") {
				var blk = '<div class="comment"> <a class="avatar"> <img src="{% static 'img/anon.png' %}"> </a> <div class="content"> <a class="author"> You </a> <div class="metadata"> <span class="date">Just now</span> </div> <div class="text">'.concat(txt, '</div></div></div>');
            	$(this).parent().before(blk);
                var cmn = $(this).parent().parent().prev().prev().children().eq(0).html();
            	var num = parseInt(cmn.split(' ')[0], 10);
            	num ++;
            	cmn = num + " Comments";
                $(this).parent().parent().prev().prev().children().eq(0).html(cmn);
            	$(this).prev().children().eq(0).val("");
        	}
        });
    	$('.likeThis').click(function(event){
			var blk = $(this).parent().parent().children().eq(3).children().eq(2).children().eq(0).html();
            console.log(blk);
            var num = parseInt(blk.split(' ')[0], 10);
            if($(this).rating('get rating') == 1){
                num++;
            }
            else {
                num--;
            }
            console.log(num);
            blk = num + " Likes";
            $(this).parent().parent().children().eq(3).children().eq(2).children().eq(0).html(blk);
        });
    </script>
{% endblock %}

{% block body %}
<article id ="main_block">
    <h2>
    	<i class="comments outline icon"></i>
    	Posts
    </h2>
    <hr/>
	<div class="ui items">
		{% for post in posts %}
            <div class="item">
                <div class="image">
                    <img class="tooltip" title="This is my image's tooltip message!" src="{% static 'img/TheImitationGame.jpg'%}">
                </div>
                <div class="content">
                    <h2 class="header">
                            <span class="postTitle">{{ post.movie_name }}</span>
                            <div class="ui huge heart rating likeThis" data-rating="0" data-max-rating="1"></div>
                            <br/>
                            <i class="star icon"></i>
                            <i class="star icon"></i>
                            <i class="star icon"></i>
                            <i class="star icon"></i>
                            <i class="half empty star icon"></i>
                            (9 / 10)
                    </h2>
                    <div class="meta">
                        <span><a href="post/{{ post.id }}"> {{ post.date }} </a></span>
                    </div>
                    <div class="description">
                        <p>
                            {{ post.text }}
                        </p>
                    </div>
                    <div class="extra">

                        <div class="right floated author">
                            <img class="ui avatar image" src="{% static 'img/Milad.jpg' %}">
                            <a href = "user_profile/{{ post.owner.username }}" > {{ post.owner.username }} </a>
                        </div>

                        <a class="showComments">
                            <span>0 Comments</span>
                            <i class ="icon comment"></i>
                        </a>
                        <a class="showLikes">
                            <span>0 Likes</span>
                            <i class="icon thumbs up"></i>
                        </a>
                        <!-- Comments -->
                        <div class="ui comments">
                            <br/>
                            <h3 class="ui dividing header">Comments</h3>
                            {% for comment in comments %}
                                {% if comment.post == post %}
                                <div class="comment">
                                    <a class="avatar"> <img src="{% static 'img/anon.png' %}"> </a>
                                    <div class="content">
                                        <a class="author"> {{ comment.user }} </a> <div class="metadata"> <span class="date">{{ comment.date }}</span> </div>
                                        <div class="text">
                                            {{ comment.text }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button addComment">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>

                        <!--- Likes -->
                        <div class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">
                                <i class="film icon"></i>
                                {{ post.owner }}'s Post Likes
                            </div>
                            <div class="content">
                                <div class="ui divided list">
                                {% for like in likes %}
                                    {% if like.post == post %}
                                        <div class="item">
                                            <img class="ui avatar image" src="{% static 'img/anon.png'%}">
                                            <div class="content">
                                                <a class="header" href="/user_profile/{{ like.user.username }}/ ">{{ like.user.username }}</a> <!-- ToDo username-> fullname -->
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
</article>
{% endblock %}