{% extends "profile.html" %}
{% load i18n %}
{% load staticfiles %}


{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/movie_profile.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('.ui.rating').rating();
        $('#openModal').click(function(event) {

            $(".ui.modal").modal("show");
            $('#openModal').rating('disable');
        });
    </script>
    <script>
        $("#AddPost").on("click",function(e){
            e.preventDefault();
            alert("clicked");
            $.ajax({
                type: "POST",
                url: "/sendpost/",
                datatype: "json",
                data:{
                    movie_name: "{{ movie_name }}",
                    owner: "{{ logined_user }}",
                    text: $('#PostComment').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
                    $('#AddPost').hide();
                },
                error: function(json,errmsg,err){
                     alert("Your post have not send to server.");
                }
            });
            return false;
        });
    </script>
{% endblock %}


{% block info %}
	<img src = "{{ cover.url }}" />
	<div class="ui raised segment">
		<h4>
		<i class="info circle icon"></i>
		movie Info
            <a href="{{ IMDB }}">
                <img id = "imdb" src="{% static 'img/imdb.png' %}" />
            </a>
		<p></p>
		</h4>

		<a class="ui teal ribbon label">
			<i class="film icon"></i>
            Name
		</a>
		<p class="infoLabel">
            {{ movie_name }}
        </p>

		<a class="ui teal ribbon label">
			<i class="calendar icon"></i>
            Release year
		</a>
		<p class="infoLabel">
            {{ release }}
        </p>


		<a class="ui teal ribbon label">
			<i class="user icon"></i>
			Director
		</a>
		<p class="infoLabel">
            {{ director }}
        </p>

        <a class="ui teal ribbon label">
			<i class="star icon"></i>
			Your Rating
		</a>

		<p class="infoLabel">
            <div id="openModal" class="ui huge star rating" data-rating="0" data-max-rating="5"></div>
		</p>

        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                <i class="film icon"></i>
                {{ movie_name }}
                <div class="ui huge rating" data-rating="5" data-max-rating="5"></div> <!--For this, always we have 5star-->
            </div>
            <div class="content">
                <img id = "movie_pic" src="{{ cover.url }}" />
                <form id = "comment" class="ui reply form"> {% csrf_token %}
                    <div class="field">
                        <textarea id = "PostComment" placeholder="Write Your Comment here ..."></textarea>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div id="buttons" class="ui large buttons">
					  <div class="ui teal button">Cancel</div>
					  <div class="or"></div>
					  <div id = "AddPost" class="ui teal button">Add</div>
				</div>
            </div>
        </div>

        <!--
		<a class="ui teal ribbon label">
			<i class="star empty icon"></i>
			Your Rating
		</a>
        <p>
            <i class="star empty icon"></i>
            <i class="star empty icon"></i>
            <i class="star empty icon"></i>
            <i class="star empty icon"></i>
            <i class="star empty icon"></i>
        </p>
        -->

	</div>
{% endblock %}

{% block moreinfo %}
    <div>
        <h3>
		    <i class="film icon"></i>
            {{ movie_name }}

            {% for i in "02468" %}
                {% if stars >= i|add:"2" %}
                    <i class="star icon"></i>
                {% elif stars|add:"1" >= i|add:"2" %}
                    <i class="star half empty icon"></i>
                {% else %}
                    <i class="star empty icon"></i>
                {% endif %}
            {% endfor %}
        </h3>

        <hr/>

        <h5>
		    <i class="newspaper icon"></i>
            Summary:
        </h5>
        <p>
            {{ summary }}
        </p>

        <h5>
            <i class="star icon"></i>
            Rating
        </h5>

        <table class="ui basic table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Number of reviewers:
                    </td>
                    <td>
                        {{ reviewers_number }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Average Rating:
                    </td>
                    <td>

                        {% for i in "02468" %}
                            {% if rate >= i|add:"2" %}
                                <i class="star icon"></i>
                            {% elif rate|add:"1" >= i|add:"2" %}
                                <i class="star half empty icon"></i>
                            {% else %}
                                <i class="star empty icon"></i>
                            {% endif %}
                        {% endfor %}

                        ( {{ rate }} / 10 )
                    </td>
                </tr>
            </tbody>
        </table>

        <h5>
		    <i class="list layout icon"></i>
            More Information
        </h5>
        <table class="ui basic table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Writers:</td>
                    <td>
                        {{ writers }}
                    </td>
                </tr>

                <tr>
                    <td>Starring:</td>
                    <td>
                        <div class="ui list">
                            {% for cast in staring %}
                                <div class="item">
                                    {{ cast.actor }} ( {{ cast.role }} )
                                </div>
                            {% endfor %}
                        </div>

                    </td>
                </tr>
                <tr>
                    <td> Country: </td>
                    <td>
                        {{ country }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Language:
                    </td>
                    <td>
                        {{ language }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}