{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('#main_block .large.message').hide();
        $('#main_block .large.message').fadeIn(1000);
        $('#main_block .menu .item').tab().click(function(){
            $('#main_block .large.message').hide();
            $('#main_block .large.message').fadeIn(1000);
        });

    </script>
    <script>
{#        $('.special.cards .image').dimmer({ on: 'hover'});#}
{#        $(document).on("click" ,".ui.inverted.button.blue",function(){#}
{#            var following=$(this).parent().parent().parent().parent().next().next().children().eq(0).children().eq(2).text();#}
{#            var age = $(this).parent().parent().parent().parent().next().next().children().eq(0).children().eq(0).text();#}
{#            //console.log(age);#}
{#            following = parseInt(following);#}
{#            following ++;#}
{#            console.log(following);#}
{#            var news ='<a><h6 class="ui tiny purple header">'.concat(age,'</h6><i class="users icon"></i><span> '.concat(following, ' Follower </span></a>'));#}
{#            $(this).parent().parent().parent().parent().next().next().children().remove();#}
{#            $(this).parent().parent().parent().parent().next().next().append(news);#}
{#            $(this).removeClass('blue').addClass('red').text('Unfollow');#}
{#        });#}
{#        $(document).on("click", ".ui.inverted.button.red",function(){#}
{#            var following=$(this).parent().parent().parent().parent().next().next().children().eq(0).children().eq(2).text();#}
{#            var age = $(this).parent().parent().parent().parent().next().next().children().eq(0).children().eq(0).text();#}
{#            following = parseInt(following);#}
{#            following --;#}
{#            console.log(following);#}
{#            var news ='<a><h6 class="ui tiny purple header">'.concat(age,'</h6><i class="users icon"></i><span> '.concat(following, ' Follower </span></a>'));#}
{#            $(this).parent().parent().parent().parent().next().next().children().remove();#}
{#            $(this).parent().parent().parent().parent().next().next().append(news);#}
{#            $(this).removeClass('red').addClass('blue').text('Follow');#}
{#        });#}
    </script>
;
{% endblock %}

{% block body %}
    <article id = "main_block">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="first">Movies</a>
            <a class="item" data-tab="second">Users</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <div class="ui floating blue large message">
              <p>{{ fmovies | length }} match results found</p>
            </div>
             <div class="ui divided items">
                 {% for mv in fmovies %}
                    <div class="item">
                        <a class="ui small image">
                          <img src = "{{ mv.cover.url }}" />
                        </a>
                        <div class="content">
                            <div class = "extra">
                                <div>Average rating:</div>
                                {% for i in "02468" %}
                                    {% if mv.rate >= i|add:"2" %}
                                        <i class="star icon"></i>
                                    {% elif mv.rate|add:"1" >= i|add:"2" %}
                                        <i class="star half empty icon"></i>
                                    {% else %}
                                        <i class="star empty icon"></i>
                                    {% endif %}
                                {% endfor %}
                                ({{ mv.rate }} / 10)
                            </div>
                            <br/>
                            <a href="/movie_profile/{{ mv.name }}/" class="black header"><h2>{{ mv.name }}</h2></a>
                            <div class="description">
                                <div class="header"><h3>Director:</h3></div>
                                <a class="black header"><h5>{{ mv.director }}</h5></a>
                                <br/>
                                <p>{{ mv.summary }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
             </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            <div class="ui floating blue large message">
              <p>{{ fusers | length }} match results found</p>
            </div>
            <div class="ui six doubling special cards">
                {% for us in fusers %}
                  <div class="blue card">
                    <div class="dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
{#                              {% if current_user in us.followers %}#}
{#                                <div class="ui inverted button red">Unfollow</div>#}
{#                              {% else %}#}
{#                                <div class="ui inverted button red">Follow</div>#}
{#                              {% endif %}#}
                          </div>
                        </div>
                      </div>
                      <img src="{{ us.avatar.url }}">
                    </div>
                    <div class="content">
                      <a href="/user_profile/{{ us.username }}/" class="header">{{ us.first_name }} {{ us.last_name }}</a>
                    </div>
                    <div class="extra content">
                      <a href="/followers/{{ us.username }}">
                          <h6 class="ui tiny purple header">{{ us.birthday }}</h6>
                        <i class="users icon"></i>
                        <span>{{ us.followers | length }} Followers </span>
                      </a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}