{% extends "profile.html" %}
{% load staticfiles %}


{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('.ui.rating').rating();
    	$('#follow').hide();
        $('.ui.modal').modal({
            detachable: false
        });
    	$('.ui.comments').hide();
    	$('.showComments').click( function(event) {
            var blk = $(this).next().next();
        	if(blk.is(':visible')) {
                blk.hide('slow');
            }
            else {
                blk.show('slow');
                $("html, body").animate({ scrollTop: $(this).offset().top - 40 }, "slow");
            }
        });
    	$('.showLikes').click(function(event) {
            var blk = $(this).next().next();
            blk.modal("show");
        });

        $('#unfollow').show();
        $('#follow').show();

{#    	$('#follow').click(function(event){#}
{#            var num = parseInt($('#follow').prev().prev().prev().prev().prev().children().eq(0).html());#}
{#            num ++;#}
{#			$('#follow').prev().prev().prev().prev().prev().children().eq(0).html(num);#}
{#            $('#follow').hide();#}
{#            $('#unfollow').show();#}
{#        });#}
{#    	$('#unfollow').click(function(event){#}
{#            var num = parseInt($('#follow').prev().prev().prev().prev().prev().children().eq(0).html());#}
{#            num --;#}
{#			$('#follow').prev().prev().prev().prev().prev().children().eq(0).html(num);#}
{#            $('#unfollow').hide();#}
{#            $('#follow').show();#}
{#        });#}

    	$('.addComment').click(function(event){
            var txt = $(this).prev().children().eq(0).val();
            $(this).prev().children().eq(0).css("box-shadow","");
            if(txt != "") {
				var blk = '<div class="comment"> <a class="avatar"> <img src="{% static 'img/anon.png' %}"> </a> <div class="content"> <a class="author"> You </a> <div class="metadata"> <span class="date">Just now</span> </div> <div class="text">'.concat(txt, '</div></div></div>');
            	$(this).parent().before(blk);
                var cmn = $(this).parent().parent().prev().prev().children().eq(0).html();
            	var num = parseInt(cmn.split(' ')[0], 10);
            	num ++;
            	cmn = num + " Comments";
                $(this).parent().parent().prev().prev().children().eq(0).html(cmn);
            	$(this).prev().children().eq(0).val("");
        	}
            else {
				$(this).prev().children().eq(0).css("box-shadow","0px 0px 1px 1px rgba(255, 0, 0, 0.8) inset");
            }


        });
    	$('.likeThis').click(function(event){
			var blk = $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html();
            var num = parseInt(blk.split(' ')[0], 10);
            if($(this).rating('get rating') == 1){
                num++;
            }
            else {
                num--;
            }
            console.log(num);
            blk = num + " Likes";
            $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html(blk);
        });
    </script>
    <script>
        $("#unfollow").on("click",function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/follow/",
                datatype: "json",
                data:{
                    user: "{{ user.username }}",
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
                    alert(json.toString);
                    $('#unfollow').hide();
                },
                error: function(json,errmsg,err){
                     alert("salam");
                }
            });
            return false;

        })
    </script>
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock %}

{% block info %}
	<h3>
		<i class="browser icon"></i>
		{{ user.username }}
	</h3>
	<img src="{{ user.avatar.url }}"/>
	<div class="ui raised segment">
		<h4>
		<i class="info circle icon"></i>
		Personal Info
		<p></p>
		</h4>

		<a class="ui teal ribbon label">
			<i class="user icon"></i>
            	Full Name
		</a>
		<p>
            {{ user.first_name }} {{ user.last_name }}
        </p>

		<a class="ui teal ribbon label">
			<i class="birthday icon"></i>
			Birthday
		</a>
		<p>
            {{ user.birthday }}
        </p>

		<a class="ui teal ribbon label">
			<i class="mail icon"></i>
			Email
		</a>
		<p>
            {{ user.email }}
        </p>

		<a class="ui teal ribbon label">
			<i class="pointing right icon"></i>
			Followers
		</a>
		<span> <a href="/followers/{{ user.username }}/"> {{ follower | length }} </a> </span>
		<p></p>

		<a class="ui teal ribbon label">
			<i class="pointing left icon"></i>
			Following
		</a>
		<span> <a href="/followings/{{ user.username }}/"> {{ following | length}} </a> </span>
		<p></p>

        {% if not current_user.username == user.username %}
            <form method="post"> {% csrf_token %}
            {% if not current_user.username in follower %}
            <button id ="follow" class="ui teal button" name="follow" type="submit">
                <i class="plus icon"></i>
                      Follow
            </button>
            {% else %}
            <button id ="unfollow" class="ui red button" name="unfollow" type="submit">
                <i class="minus icon"></i>
                      Unfollow
            </button>
            {% endif %}
            </form>
        {% endif %}

	</div>
{% endblock %}
{% block moreinfo %}
    <h2>
    	<i class="comments outline icon"></i>
    	Posts
    </h2>
    <hr/>
	<div class="ui items">
    	{%  for post in posts %}
		<div class="item">
			<div class="image">
				<img src="../../static/img/movies/{{ post.movie_name.id }}.jpg">
			</div>
			<div class="content">
				<h2 class="header">
                    	{{ post.movie_name }}
                    	<div class="ui huge heart rating likeThis" data-rating="0" data-max-rating="1"></div>
						<br/>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="star icon"></i>
						<i class="half empty star icon"></i>
                    	(9 / 10)
                </h2>
				<div class="meta">
					<span><a href="/post/{{post.id}}">
                        {{ post.date }}
                    </a></span>
				</div>
				<div class="description">
					<p>
                        {{ post.text }}
                    </p>
				</div>
				<div class="extra">

                    <a class="showComments">
						<span>0 Comments</span>
                    	<i class ="icon comment"></i>
                    </a>
                    <a class="showLikes">
                    	<span>0 Likes</span>
                    	<i class="icon thumbs up"></i>
                    </a>
                    <!-- Comments -->
					<div class="ui comments">
                        <br/>
						<h3 class="ui dividing header">Comments</h3>

						<form class="ui reply form">
							<div class="field">
								<textarea></textarea>
							</div>
							<div class="ui blue labeled submit icon button addComment">
								<i class="icon edit"></i> Add Reply
							</div>
						</form>
					</div>

                    <!--- Likes -->
					<div class="ui small modal">
						<i class="close icon"></i>
						<div class="header">
							<i class="film icon"></i>
							Merlion's Post Likes
						</div>
						<div class="content">
							<div class="ui divided list">
							</div>
						</div>
                        <div class="actions">
            			</div>
					</div>
				</div>
			</div>
		</div>

        <hr/>
    	{%  endfor %}
    </div>
{% endblock %}