{% extends "profile.html" %}
{% load staticfiles %}


{% block css %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('.ui.rating').rating();
        $('.ui.modal').modal({
            detachable: false
        });
    	$('.ui.comments').hide();
    	$('.showComments').click( function(event) {
            var blk = $(this).next().next();
        	if(blk.is(':visible')) {
                blk.hide('slow');
            }
            else {
                blk.show('slow');
                $("html, body").animate({ scrollTop: $(this).offset().top - 40 }, "slow");
            }
        });
    	$('.showLikes').click(function(event) {
            var blk = $(this).next().next();
            blk.modal("show");
        });

        {% if current_user.username == user.username %}
            $('#follow').hide();
            $('#unfollow').hide();
            $('#mysettings').show();
        {% elif not current_user.username in follower %}
            $('#follow').show();
            $('#unfollow').hide();
            $('#mysettings').hide();
        {% else %}
            $('#unfollow').show();
            $('#follow').hide();
            $('#mysettings').hide();
        {% endif %}
    	$('.addComment').click(function(event){
            var keep = this;
            $.ajax({
                type: "POST",
                url: "/commentthis/",
                datatype: "json",
                data:{
                    comment_post_id: keep.id,
                    user: "{{ current_user }}",
                    text: $(keep).prev().children().eq(0).val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
                    var txt = $(keep).prev().children().eq(0).val();
                    if(txt != "") {
                        var dt = new Date($.now());
                        var ttime = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds() + " in " + dt.getFullYear() + "." + dt.getMonth() + "." + dt.getDate();
                        var blk = ('<div class="comment"> <a class="avatar"> <img src="{{ current_user.avatar.url }}"> </a> <div class="content"> <a class="author"> {{ current_user.username }} </a> <div class="metadata"> <span class="date">').concat(ttime, '</span> </div> <div class="text">').concat(txt, '</div></div></div>');
                        $(keep).parent().before(blk);
                        var cmn = $(keep).parent().parent().prev().prev().children().eq(0).html();
                        var num = parseInt(cmn.split(' ')[0], 10);
                        num ++;
                        cmn = num + " Comments";
                        $(keep).parent().parent().prev().prev().children().eq(0).html(cmn);
                        $(keep).prev().children().eq(0).val("");
                    }
                },
                error: function(json,errmsg,err){
                }
            });
            return false;
        });
    	$('.likeThis').click(function(event){
            var keep = this;
            if($(keep).rating('get rating') == 0) {
                $.ajax({
                    type: "POST",
                    url: "/likethis/",
                    datatype: "json",
                    data:{
                        user: "{{ current_user }}",
                        l_post_id: keep.id,
                        type: "remove",
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(json){
                        var blk = $(keep).parent().parent().children().eq(3).children().eq(2).children().eq(0).html();
                        var num = parseInt(blk.split(' ')[0], 10);
                        num --;
                        blk = num + " Likes";
                        $(keep).parent().parent().children().eq(3).children().eq(2).children().eq(0).html(blk);
                    },
                    error: function(json,errmsg,err){
                    }
                });
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/likethis/",
                    datatype: "json",
                    data:{
                        user: "{{ current_user }}",
                        l_post_id: keep.id,
                        type: "add",
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(json){
                        var blk = $(keep).parent().parent().children().eq(3).children().eq(2).children().eq(0).html();
                        var num = parseInt(blk.split(' ')[0], 10);
                        num ++;
                        blk = num + " Likes";
                        $(keep).parent().parent().children().eq(3).children().eq(2).children().eq(0).html(blk);
                    },
                    error: function(json,errmsg,err){
                    }
                });
                return false;
            }
        });
{#        #}
{#    	$('.addComment').click(function(event){#}
{#            var txt = $(this).prev().children().eq(0).val();#}
{#            $(this).prev().children().eq(0).css("box-shadow","");#}
{#            if(txt != "") {#}
{#				var blk = '<div class="comment"> <a class="avatar"> <img src="{% static 'img/anon.png' %}"> </a> <div class="content"> <a class="author"> You </a> <div class="metadata"> <span class="date">Just now</span> </div> <div class="text">'.concat(txt, '</div></div></div>');#}
{#            	$(this).parent().before(blk);#}
{#                var cmn = $(this).parent().parent().prev().prev().children().eq(0).html();#}
{#            	var num = parseInt(cmn.split(' ')[0], 10);#}
{#            	num ++;#}
{#            	cmn = num + " Comments";#}
{#                $(this).parent().parent().prev().prev().children().eq(0).html(cmn);#}
{#            	$(this).prev().children().eq(0).val("");#}
{#        	}#}
{#            else {#}
{#				$(this).prev().children().eq(0).css("box-shadow","0px 0px 1px 1px rgba(255, 0, 0, 0.8) inset");#}
{#            }#}
{##}
{##}
{#        });#}
{#    	$('.likeThis').click(function(event){#}
{#			var blk = $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html();#}
{#            var num = parseInt(blk.split(' ')[0], 10);#}
{#            if($(this).rating('get rating') == 1){#}
{#                num++;#}
{#            }#}
{#            else {#}
{#                num--;#}
{#            }#}
{#            console.log(num);#}
{#            blk = num + " Likes";#}
{#            $(this).parent().parent().children().eq(3).children().eq(1).children().eq(0).html(blk);#}
{#        });#}
    </script>
    <script>

        $("#mysettings").on("click",function(e) {
            e.preventDefault();
            window.location= "/settings/";
        });
        $("#unfollow").on("click",function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/unfollow/",
                datatype: "json",
                data:{
                    user: "{{ user.username }}",
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
{#                    alert(json.toString);#}
                    $('#unfollow').hide();
                    $('#follow').show();
                    var num = parseInt($('#unfollow').parent().prev().prev().prev().prev().prev().children().eq(0).html());
                    num --;
                    $('#unfollow').parent().prev().prev().prev().prev().prev().children().eq(0).html(num);
                },
                error: function(json,errmsg,err){
                     alert("salam");
                }
            });
            return false;
        });

        $("#follow").on("click",function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/follow/",
                datatype: "json",
                data:{
                    user: "{{ user.username }}",
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
                    $('#follow').hide();
                    $('#unfollow').show();
                    var num = parseInt($('#follow').parent().prev().prev().prev().prev().prev().children().eq(0).html());
                    num ++;
                    $('#follow').parent().prev().prev().prev().prev().prev().children().eq(0).html(num);
                },
                error: function(json,errmsg,err){
                     alert("salam");
                }
            });
            return false;
        });
    </script>
{% endblock %}

{% block body %}
    {{ block.super }}
{% endblock %}

{% block info %}
	<h3>
		<i class="browser icon"></i>
		{{ user.username }}
	</h3>
	<img src="{{ user.avatar.url }}"/>
	<div class="ui raised segment">
		<h4>
		<i class="info circle icon"></i>
		Personal Info
		<p></p>
		</h4>

		<a class="ui teal ribbon label">
			<i class="user icon"></i>
            	Full Name
		</a>
		<p>
            {{ user.first_name }} {{ user.last_name }}
        </p>

		<a class="ui teal ribbon label">
			<i class="birthday icon"></i>
			Birthday
		</a>
		<p>
            {{ user.birthday }}
        </p>

		<a class="ui teal ribbon label">
			<i class="mail icon"></i>
			Email
		</a>
		<p>
            {{ user.email }}
        </p>

		<a class="ui teal ribbon label">
			<i class="pointing right icon"></i>
			Followers
		</a>
		<span> <a href="/followers/{{ user.username }}/"> {{ follower | length }} </a> </span>
		<p></p>

		<a class="ui teal ribbon label">
			<i class="pointing left icon"></i>
			Following
		</a>
		<span> <a href="/followings/{{ user.username }}/"> {{ following | length}} </a> </span>
		<p></p>

        <form method="post"> {% csrf_token %}

        <button id ="follow" class="ui teal button" name="follow" type="submit">
            <i class="plus icon"></i>
                  Follow
        </button>
        <button id ="unfollow" class="ui red button" name="unfollow" type="submit">
            <i class="minus icon"></i>
                  Unfollow
        </button>
        <button id ="mysettings" class="ui blue button" name="mysettings" type="submit">
            <i class="settings icon"></i>
                  Settings
        </button>
        </form>

	</div>
{% endblock %}
{% block moreinfo %}
    <h2>
    	<i class="comments outline icon"></i>
    	Posts
    </h2>
    <hr/>
	<div class="ui items">
    	{%  for post in posts %}
		    <div class="item">
                <div class="image">
                    <img class="tooltip" src="{{ post.movie_name.cover.url }}">
                </div>
                <div class="content">
                    <h2 class="header">
                            <span class="postTitle">{{ post.movie_name }}</span>
                            {% if post.userLike %}
                                <div id = "like{{ post.id }}" class="ui huge heart rating likeThis" data-rating="1" data-max-rating="1"></div>
                            {% else %}
                                <div id = "like{{ post.id }}" class="ui huge heart rating likeThis" data-rating="0" data-max-rating="1"></div>
                            {% endif %}
                            <br/>
                            {% for i in "02468" %}
                                {% if post.rate >= i|add:"2" %}
                                    <i class="star icon"></i>
                                {% elif post.rate|add:"1" >= i|add:"2" %}
                                    <i class="star half empty icon"></i>
                                {% else %}
                                    <i class="star empty icon"></i>
                                {% endif %}
                            {% endfor %}
                            ({{ post.rate }} / 10)
                    </h2>
                    <div class="meta">
                        <span><a href="/post/{{ post.id }}"> {{ post.date }} </a></span>
                    </div>
                    <div class="description">
                        <p>
                            {{ post.text }}
                        </p>
                    </div>
                    <div class="extra">

                        <div class="right floated author">
                            <img class="ui avatar image" src="{{ post.owner.avatar.url }}">
                            <a href = "/user_profile/{{ post.owner.username }}" > {{ post.owner.username }} </a>
                        </div>

                        <a class="showComments">
                            <span>{{ post.cnums }} Comments</span>
                            <i class ="icon comment"></i>
                        </a>
                        <a class="showLikes">
                            <span>{{ post.lnums }} Likes</span>
                            <i class="icon thumbs up"></i>
                        </a>
                        <!-- Comments -->
                        <div class="ui comments">
                            <br/>
                            <h3 class="ui dividing header">Comments</h3>
                            {% for comment in comments %}
                                {% if comment.post == post %}
                                    <div class="comment">
                                        <a class="avatar"> <img src="{{ comment.user.avatar.url }}"> </a>
                                        <div class="content">
                                            <a class="author"> {{ comment.user.username }} </a> <div class="metadata"> <span class="date">{{ comment.date }}</span> </div>
                                            <div class="text">
                                                {{ comment.text }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea></textarea>
                                </div>
                                <div id = "comment{{ post.id }}" class="ui blue labeled submit icon button addComment">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>

                        <!--- Likes -->
                        <div class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">
                                <i class="film icon"></i>
                                {{ post.user.username }}'s Post Likes
                            </div>
                            <div class="content">
                                <div class="ui divided list">
                                {% for like in likes %}
                                    {% if like.post == post %}
                                        <div class="item">
                                            <img class="ui avatar image" src="{{ like.user.avatar.url }}">
                                            <div class="content">
                                                <a class="header" href="/user_profile/{{ like.user.username }}/ ">{{ like.user.first_name }} {{ like.user.last_name }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
    	{%  endfor %}
    </div>
{% endblock %}